* {
  box-sizing: border-box;
}

body {
  background-image: url("images/mc_back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
}

.container {
  width: 1000px;
  /*border: 2px solid lime;*/
  margin: 0 auto;
}

#header {
  font-family: 'VT323', monospace;
  font-size: 30px;
  margin: 0 auto;
  /*border: 2px solid red;*/
  color: white;
  width: 500px;
  text-align: center;

}

#grid {
  /*border: 2px solid white;*/
  margin: 0 auto;
  width: 630px;
  text-align: center;
}

.box {
  font-family: 'VT323', monospace;
  width: 200px;
  height: 200px;
  margin: 2px 1px;
  border: 5px solid green;
  display: inline-block;
  vertical-align: top;
  padding: 70px;
  color: red;
  font-size: 50px;
  font-weight: bold;
}

.aside {
  text-align: right;
}

img {
  float: left;
  height: 50px;
  width: 85px;
}
.displayPlayer {
  font-family: 'VT323', monospace;
  margin: 10px;
  display: inline;
  /*border: 1px solid red;*/
  color: white;
  font-size: 50px;
}

.winner {
  font-family: 'VT323', monospace;
  /*border: 1px solid red;*/
  font-size: 80px;
  color: white;
  position: fixed;
  margin-left: 250px;
}

